package templates

templ header(title string) {
<head>
    <title>{ title }</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="static/css/style.css"/>
</head>
}

templ Layout(contents templ.Component, title string) {
<body class="flex items-center justify-center min-h-screen">
    <main class="border-4 border-orange-500 p-6 rounded-lg">
        @contents
    </main>
    <script src="static/js/htmx.min.js"></script>
    <script src="static/js/json-enc.js"></script>
</body>
}