package server

import (
	"context"
	"{{.ModulePath}}/internal/logger"
	"{{.ModulePath}}/internal/server/get"
	"{{.ModulePath}}/internal/server/post"
	"fmt"
	"net/http"
	"os"
	"os/signal"
	"syscall"

	_ "github.com/a-h/templ"
)

type server struct {
	port       int
	httpServer *http.Server
}

// Creat a new server instance with the given logger and port
func NewServer(port int) (*server, error) {
	return &server{
	port:    port}, nil
}

// Start the server
func (s *server) Start() error {
	logger.Log(4, fmt.Sprintf("Starting server on port %d", s.port))
	var stopChan chan os.Signal

	// define router
	router := http.NewServeMux()

	fileServer := http.FileServer(http.Dir("./static"))
	router.Handle("GET /static/", http.StripPrefix("/static/", fileServer))

	get.RegisterGetHandlers(router)
	post.RegisterPostHandlers(router)

	// define server
	s.httpServer = &http.Server{
		Addr:    fmt.Sprintf(":%d", s.port),
		Handler: router}

	// create channel to listen for signals
	stopChan = make(chan os.Signal, 1)
	signal.Notify(stopChan, os.Interrupt, syscall.SIGTERM)

	go func() {
		if err := s.httpServer.ListenAndServe(); err != nil && err != http.ErrServerClosed {
			logger.Log(1, fmt.Sprintf("Error when running server: %s", err))
		}
	}()

	<-stopChan

	if err := s.httpServer.Shutdown(context.Background()); err != nil {
		logger.Log(2, fmt.Sprintf("Error when shutting down server: %v", err))
		return err
	}
	return nil
}
